In [1]:
import pandas as pd
from sqlalchemy import create_engine
from time import time

In [2]:
df = pd.read_csv("yellow_tripdata_2021-01.csv", nrows=1000)

In [3]:
df

,VendorID,tpep_pickup_datetime,tpep_dropoff_datetime,passenger_count,trip_distance,RatecodeID,store_and_fwd_flag,PULocationID,DOLocationID,payment_type,fare_amount,extra,mta_tax,tip_amount,tolls_amount,improvement_surcharge,total_amount,congestion_surcharge
0,1,2021-01-01 00:30:10,2021-01-01 00:36:12,1,2.10,1,N,142,43,2,8.0,3.0,0.5,0.00,0.0,0.3,11.80,2.5
1,1,2021-01-01 00:51:20,2021-01-01 00:52:19,1,0.20,1,N,238,151,2,3.0,0.5,0.5,0.00,0.0,0.3,4.30,0.0
2,1,2021-01-01 00:43:30,2021-01-01 01:11:06,1,14.70,1,N,132,165,1,42.0,0.5,0.5,8.65,0.0,0.3,51.95,0.0
3,1,2021-01-01 00:15:48,2021-01-01 00:31:01,0,10.60,1,N,138,132,1,29.0,0.5,0.5,6.05,0.0,0.3,36.35,0.0
4,2,2021-01-01 00:31:49,2021-01-01 00:48:21,1,4.94,1,N,68,33,1,16.5,0.5,0.5,4.06,0.0,0.3,24.36,2.5
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
995,1,2021-01-01 00:57:42,2021-01-01 01:08:18,1,3.10,1,N,264,264,1,11.5,0.5,0.5,1.00,0.0,0.3,13.80,0.0
996,2,2021-01-01 00:19:34,2021-01-01 00:31:34,1,2.77,1,N,170,239,1,11.0,0.5,0.5,2.96,0.0,0.3,17.76,2.5
997,2,2021-01-01 00:16:38,2021-01-01 00:24:23,3,2.01,1,N,41,263,1,8.5,0.5,0.5,2.46,0.0,0.3,14.76,2.5
998,2,2021-01-01 00:28:09,2021-01-01 00:40:08,1,3.35,1,N,263,186,4,-12.0,-0.5,-0.5,0.00,0.0,-0.3,-15.80,-2.5
999,2,2021-01-01 00:28:09,2021-01-01 00:40:08,1,3.35,1,N,263,186,2,12.0,0.5,0.5,0.00,0.0,0.3,15.80,2.5

In [18]:
print(pd.io.sql.get_schema(df, name='yellow_taxi_trips', con=engine))

CREATE TABLE yellow_taxi_trips (
	"VendorID" BIGINT,
	tpep_pickup_datetime TIMESTAMP WITHOUT TIME ZONE,
	tpep_dropoff_datetime TIMESTAMP WITHOUT TIME ZONE,
	passenger_count BIGINT,
	trip_distance FLOAT(53),
	"RatecodeID" BIGINT,
	store_and_fwd_flag TEXT,
	"PULocationID" BIGINT,
	"DOLocationID" BIGINT,
	payment_type BIGINT,
	fare_amount FLOAT(53),
	extra FLOAT(53),
	mta_tax FLOAT(53),
	tip_amount FLOAT(53),
	tolls_amount FLOAT(53),
	improvement_surcharge FLOAT(53),
	total_amount FLOAT(53),
	congestion_surcharge FLOAT(53)
)

In [5]:
df.tpep_pickup_datetime = pd.to_datetime(df.tpep_pickup_datetime)
df.tpep_dropoff_datetime = pd.to_datetime(df.tpep_dropoff_datetime)

In [86]:
engine = create_engine("postgresql://root:root@localhost:5431/ny_taxi")
engine.connect()

In [92]:
df_iter = pd.read_csv("yellow_tripdata_2021-01.csv", iterator=True, chunksize=100000)

In [96]:
len(df)

100000

In [88]:
df = next(df_iter)

In [89]:
df.tpep_pickup_datetime = pd.to_datetime(df.tpep_pickup_datetime)
df.tpep_dropoff_datetime = pd.to_datetime(df.tpep_dropoff_datetime)

In [90]:
df.head(0).to_sql(name='yellow_taxi_trips', con=engine, if_exists='replace')

In [91]:
df.to_sql(name='yellow_taxi_trips', con=engine, if_exists='append')

In [85]:
n = 1
for chunk in df_iter:
    print(f"Starting chunk {n}")
    t_start = time()
    
    df = chunk
    
    df.tpep_pickup_datetime = pd.to_datetime(df.tpep_pickup_datetime)
    df.tpep_dropoff_datetime = pd.to_datetime(df.tpep_dropoff_datetime)
    
    df.to_sql(name='yellow_taxi_trips', con=engine, if_exists='append')
    
    t_end = time()
    print(f"Imported chunk... took {t_end - t_start}s")
    
    n += 1

Starting chunk 1
Imported chunk... took 80.69171571731567s
Starting chunk 2

OperationalError: (psycopg2.OperationalError) terminating connection due to administrator command
server closed the connection unexpectedly
	This probably means the server terminated abnormally
	before or while processing the request.

[SQL: INSERT INTO yellow_taxi_trips (index, "VendorID", tpep_pickup_datetime, tpep_dropoff_datetime, passenger_count, trip_distance, "RatecodeID", store_and_fwd_flag, "PULocationID", "DOLocationID", payment_type, fare_amount, extra, mta_tax, tip_amount, tolls_amount, improvement_surcharge, total_amount, congestion_surcharge) VALUES (%(index)s, %(VendorID)s, %(tpep_pickup_datetime)s, %(tpep_dropoff_datetime)s, %(passenger_count)s, %(trip_distance)s, %(RatecodeID)s, %(store_and_fwd_flag)s, %(PULocationID)s, %(DOLocationID)s, %(payment_type)s, %(fare_amount)s, %(extra)s, %(mta_tax)s, %(tip_amount)s, %(tolls_amount)s, %(improvement_surcharge)s, %(total_amount)s, %(congestion_surcharge)s)]
[parameters: ({'index': 200000, 'VendorID': 2, 'tpep_pickup_datetime': datetime.datetime(2021, 1, 6, 17, 9, 54), 'tpep_dropoff_datetime': datetime.datetime(2021, 1, 6, 17, 30, 53), 'passenger_count': 1, 'trip_distance': 2.78, 'RatecodeID': 1, 'store_and_fwd_flag': 'N', 'PULocationID': 232, 'DOLocationID': 97, 'payment_type': 1, 'fare_amount': 14.0, 'extra': 1.0, 'mta_tax': 0.5, 'tip_amount': 2.75, 'tolls_amount': 0.0, 'improvement_surcharge': 0.3, 'total_amount': 18.55, 'congestion_surcharge': 0.0}, {'index': 200001, 'VendorID': 2, 'tpep_pickup_datetime': datetime.datetime(2021, 1, 6, 17, 52, 35), 'tpep_dropoff_datetime': datetime.datetime(2021, 1, 6, 17, 55, 39), 'passenger_count': 1, 'trip_distance': 0.62, 'RatecodeID': 1, 'store_and_fwd_flag': 'N', 'PULocationID': 170, 'DOLocationID': 107, 'payment_type': 2, 'fare_amount': 4.5, 'extra': 1.0, 'mta_tax': 0.5, 'tip_amount': 0.0, 'tolls_amount': 0.0, 'improvement_surcharge': 0.3, 'total_amount': 8.8, 'congestion_surcharge': 2.5}, {'index': 200002, 'VendorID': 2, 'tpep_pickup_datetime': datetime.datetime(2021, 1, 6, 17, 21, 30), 'tpep_dropoff_datetime': datetime.datetime(2021, 1, 6, 17, 26, 34), 'passenger_count': 1, 'trip_distance': 0.66, 'RatecodeID': 1, 'store_and_fwd_flag': 'N', 'PULocationID': 239, 'DOLocationID': 238, 'payment_type': 1, 'fare_amount': 5.5, 'extra': 1.0, 'mta_tax': 0.5, 'tip_amount': 0.5, 'tolls_amount': 0.0, 'improvement_surcharge': 0.3, 'total_amount': 10.3, 'congestion_surcharge': 2.5}, {'index': 200003, 'VendorID': 2, 'tpep_pickup_datetime': datetime.datetime(2021, 1, 6, 17, 47, 53), 'tpep_dropoff_datetime': datetime.datetime(2021, 1, 6, 18, 15, 45), 'passenger_count': 1, 'trip_distance': 6.94, 'RatecodeID': 1, 'store_and_fwd_flag': 'N', 'PULocationID': 170, 'DOLocationID': 40, 'payment_type': 2, 'fare_amount': 23.0, 'extra': 1.0, 'mta_tax': 0.5, 'tip_amount': 0.0, 'tolls_amount': 0.0, 'improvement_surcharge': 0.3, 'total_amount': 27.3, 'congestion_surcharge': 2.5}, {'index': 200004, 'VendorID': 2, 'tpep_pickup_datetime': datetime.datetime(2021, 1, 6, 17, 33, 48), 'tpep_dropoff_datetime': datetime.datetime(2021, 1, 6, 18, 17, 16), 'passenger_count': 1, 'trip_distance': 18.46, 'RatecodeID': 2, 'store_and_fwd_flag': 'N', 'PULocationID': 132, 'DOLocationID': 163, 'payment_type': 1, 'fare_amount': 52.0, 'extra': 4.5, 'mta_tax': 0.5, 'tip_amount': 13.18, 'tolls_amount': 6.12, 'improvement_surcharge': 0.3, 'total_amount': 79.1, 'congestion_surcharge': 2.5}, {'index': 200005, 'VendorID': 2, 'tpep_pickup_datetime': datetime.datetime(2021, 1, 6, 17, 2, 48), 'tpep_dropoff_datetime': datetime.datetime(2021, 1, 6, 17, 11, 38), 'passenger_count': 6, 'trip_distance': 1.92, 'RatecodeID': 1, 'store_and_fwd_flag': 'N', 'PULocationID': 263, 'DOLocationID': 74, 'payment_type': 1, 'fare_amount': 8.5, 'extra': 1.0, 'mta_tax': 0.5, 'tip_amount': 2.56, 'tolls_amount': 0.0, 'improvement_surcharge': 0.3, 'total_amount': 15.36, 'congestion_surcharge': 2.5}, {'index': 200006, 'VendorID': 2, 'tpep_pickup_datetime': datetime.datetime(2021, 1, 6, 17, 23, 12), 'tpep_dropoff_datetime': datetime.datetime(2021, 1, 6, 17, 31, 31), 'passenger_count': 6, 'trip_distance': 1.63, 'RatecodeID': 1, 'store_and_fwd_flag': 'N', 'PULocationID': 75, 'DOLocationID': 238, 'payment_type': 1, 'fare_amount': 7.5, 'extra': 1.0, 'mta_tax': 0.5, 'tip_amount': 1.77, 'tolls_amount': 0.0, 'improvement_surcharge': 0.3, 'total_amount': 13.57, 'congestion_surcharge': 2.5}, {'index': 200007, 'VendorID': 2, 'tpep_pickup_datetime': datetime.datetime(2021, 1, 6, 17, 10, 12), 'tpep_dropoff_datetime': datetime.datetime(2021, 1, 6, 17, 23, 41), 'passenger_count': 1, 'trip_distance': 2.16, 'RatecodeID': 1, 'store_and_fwd_flag': 'N', 'PULocationID': 142, 'DOLocationID': 236, 'payment_type': 2, 'fare_amount': 11.0, 'extra': 1.0, 'mta_tax': 0.5, 'tip_amount': 0.0, 'tolls_amount': 0.0, 'improvement_surcharge': 0.3, 'total_amount': 15.3, 'congestion_surcharge': 2.5}  ... displaying 10 of 100000 total bound parameter sets ...  {'index': 299998, 'VendorID': 2, 'tpep_pickup_datetime': datetime.datetime(2021, 1, 8, 21, 46, 1), 'tpep_dropoff_datetime': datetime.datetime(2021, 1, 8, 21, 53, 24), 'passenger_count': 1, 'trip_distance': 1.32, 'RatecodeID': 1, 'store_and_fwd_flag': 'N', 'PULocationID': 141, 'DOLocationID': 163, 'payment_type': 1, 'fare_amount': 7.0, 'extra': 0.5, 'mta_tax': 0.5, 'tip_amount': 1.3, 'tolls_amount': 0.0, 'improvement_surcharge': 0.3, 'total_amount': 12.1, 'congestion_surcharge': 2.5}, {'index': 299999, 'VendorID': 2, 'tpep_pickup_datetime': datetime.datetime(2021, 1, 8, 21, 27, 58), 'tpep_dropoff_datetime': datetime.datetime(2021, 1, 8, 21, 35, 19), 'passenger_count': 1, 'trip_distance': 2.37, 'RatecodeID': 1, 'store_and_fwd_flag': 'N', 'PULocationID': 264, 'DOLocationID': 223, 'payment_type': 1, 'fare_amount': 9.0, 'extra': 0.5, 'mta_tax': 0.5, 'tip_amount': 2.06, 'tolls_amount': 0.0, 'improvement_surcharge': 0.3, 'total_amount': 12.36, 'congestion_surcharge': 0.0})]
(Background on this error at: http://sqlalche.me/e/13/e3q8)

In [44]:
df_zones = pd.read_csv('taxi+_zone_lookup.csv')

In [45]:
df_zones

     LocationID        Borough                     Zone service_zone
0             1            EWR           Newark Airport          EWR
1             2         Queens              Jamaica Bay    Boro Zone
2             3          Bronx  Allerton/Pelham Gardens    Boro Zone
3             4      Manhattan            Alphabet City  Yellow Zone
4             5  Staten Island            Arden Heights    Boro Zone
..          ...            ...                      ...          ...
260         261      Manhattan       World Trade Center  Yellow Zone
261         262      Manhattan           Yorkville East  Yellow Zone
262         263      Manhattan           Yorkville West  Yellow Zone
263         264        Unknown                       NV          NaN
264         265        Unknown                      NaN          NaN

[265 rows x 4 columns]

In [46]:
df_zones.to_sql(name='zones', con=engine)